.container {
  display: grid;
  width: 800px;
  grid-template-columns: 2fr 3fr 1fr;
  grid-template-rows: 140px 500px 120px;
  margin: 0 auto;
  gap: 30px 20px;
}

.header {
  grid-column: 1 / 4;
  background-color: aliceblue;
}

.aside1 {
  background-color: bisque;
}

.main {
  background-color: chocolate;
}

.aside2 {
  background-color: darkcyan;
}

.footer {
  grid-column: 1 / 4;
  background-color: forestgreen;
}